
body{
  background: #F9F1E3;
}
header{
  text-align: center;
  font-family: Helvetica;
  color: #FF930A;
  background: #F8DDAE;
  padding: 1px;
  margin: 10px;
}
#serpiente {
  width:20px;
  height:20px;
  background:green;
  position: absolute;
}
#tabla {
  background:#DBEAA5;
  margin: 0 auto;
  width:500px;
  height:500px;
}
img{
  width: 20px;
  margin: 5px;
}
button{
  margin-left: 45%;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #4FC8DB;
  border: 0px;
  color: white;
  height: 25px;
}
